body{
    background-color: #ff99ff;
}

.mari{
    width: 25%;
    padding-top: 15px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 20px; 
}

.yuki{
    width: 25%;
}

.lucky{
    width: 25%;
}

.titulos{
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    border: 3px;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 1px;
}

.imagensmcs{
    width: 40%
}